{% schema %}
{
  "name": "Audio Player",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Audio Player",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if section.settings.selected_product and section.settings.selected_product.metafields.custom.audio %}
  <div class="custom-audio-player">
    <audio id="audioPlayer" controls>
      <source src="{{ section.settings.selected_product.metafields.custom.audio.value.url }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <button class="playPauseButton" 
            data-product-id="{{ section.settings.selected_product.id }}" 
            data-audio-url="{{ section.settings.selected_product.metafields.custom.audio.value.url }}">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
{% endif %}

{% javascript %}
document.addEventListener('DOMContentLoaded', function() {
  var audioPlayer = document.getElementById('audioPlayer');
  var playPauseButton = document.querySelector('.playPauseButton');

  playPauseButton.addEventListener('click', function() {
    if (audioPlayer.paused) {
      audioPlayer.play();
      playPauseButton.querySelector('i').classList.remove('fa-solid fa-play');
      playPauseButton.querySelector('i').classList.add('fa-solid fa-pause');
    } else {
      audioPlayer.pause();
      playPauseButton.querySelector('i').classList.remove('fa-solid fa-pause');
      playPauseButton.querySelector('i').classList.add('fa-solid fa-play');
    }
  });
});
{% endjavascript %}
