{% schema %}
{
  "name": "Audio Player",
  "settings": [
        {
      "type": "product",
      "id": "src_product_audio",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Audio Player",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if product.tags contains 'audio' %}
  <div class="custom-audio-player">
    <audio id="audioPlayer" controls>
      <source src="{{ product.metafields.product.audio.value.url }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <button id="playPauseButton" class="play">Play</button>
  </div>
{% endif %}

{% javascript %}
document.addEventListener("DOMContentLoaded", function() {
  var audioPlayer = document.getElementById('audioPlayer');
  var playPauseButton = document.getElementById('playPauseButton');

  playPauseButton.addEventListener('click', function() {
    if (audioPlayer.paused) {
      audioPlayer.play();
      playPauseButton.textContent = 'Pause';
    } else {
      audioPlayer.pause();
      playPauseButton.textContent = 'Play';
    }
  });
});
{% endjavascript %}
