{% schema %}
{
  "name": "Play button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if product.metafields.custom.audio %}

   <div class="productPlayBtnContainer">
     <audio controls id="productAudioPlayer">
       <source src="{{ product.metafields.custom.audio.value.url }}" type="audio/mpeg">
       Your browser does not support the audio element.
     </audio>
   </div>

   <div id="productPlayBtn"> 
   <i class="fa-solid fa-play play-button"
                title="Play" id="play"></i>
   </div>

{% endif %}


{% javascript %}
 // Get reference to the audio player and play button icon
const audioPlayer = document.getElementById('productAudioPlayer');
const playIcon = document.getElementById('play');
let isPlaying = false;

// Add click event listener to the play button
document.getElementById('productPlayBtn').addEventListener('click', togglePlay);

// Toggle play/pause functionality
function togglePlay() {
  if (isPlaying) {
    pauseMusic();
  } else {
    playMusic();
  }
}

// Function to play music
function playMusic() {
  isPlaying = true;
  // Change play button icon
  playIcon.classList.replace('fa-play', 'fa-pause');
  // set button hover title
  playIcon.setAttribute('title', 'Pause');
  audioPlayer.play();
}

// Function to pause music
function pauseMusic() {
  isPlaying = false;
  // Change pause button icon
  playIcon.classList.replace('fa-pause', 'fa-play');
  // Set button hover title 
  playIcon.setAttribute('title', 'Play');
  audioPlayer.pause();
}


{% endjavascript %}

{% style %}
#productAudioPlayer{
  display: none;
}
#play {
  height: 100px;
  width: 100px;
}

{% endstyle %}


