{% schema %}
{
  "name": "Pay button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if section.settings.selected_product and section.settings.selected_product.metafields.custom.audio %}
  <div class="play-button">
    <audio id="audioPlayer" controls>
    <button class="playPauseButton" 
            data-product-id="{{ section.settings.selected_product.id }}" 
            data-audio-url="{{ section.settings.selected_product.metafields.custom.audio.value.url }}">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
{% endif %}

{% javascript %}
// Add an event listener to all play buttons on products
document.querySelectorAll('.play-button').forEach(button => {
  button.addEventListener('click', function() {
    // Extract the audio URL from the data-audio attribute
    const audioUrl = this.getAttribute('data-audio');
    // Load the audio into the sticky audio player
    loadMusic({
      path: audioUrl,
      displayName: 'Custom Title', // You can set this dynamically if needed
      cover: 'Custom Cover URL',   // You can set this dynamically if needed
      artist: 'Custom Artist'      // You can set this dynamically if needed
    });
  });
});

{% endjavascript %}

{% endjavascript %}

{% style %}


{% endstyle %}
