{% schema %}
{
  "name": "Play button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if product.metafields.custom.audio %}

   <div class="productPlayBtnContainer">
     <audio controls id="productAudioPlayer">
       <source src="{{ product.metafields.custom.audio.value.url }}" type="audio/mpeg">
       Your browser does not support the audio element.
     </audio>
   </div>

   <div id="productPlayBtn"> 
   <i class="fa-solid fa-play play-button"
                title="Play" id="play"></i>
   </div>

{% endif %}

{% javascript %}
     // Get reference to the audio player
     var audioPlayer = document.getElementById('productAudioPlayer');
     const playIcon = document.getElementById('play');

     // Add click event listener to the play button
     document.getElementById('productPlayBtn').addEventListener('click', function() {
       // Check if audio is paused, then play or pause accordingly
       if (audioPlayer.paused) {
         audioPlayer.play();
         playIcon. playBtn.classList.replace('fa-play', 'fa-pause');;
         playIcon.classList.add('fa-pause');
       } else {
         audioPlayer.pause();
         playIcon.classList.replace('fa-pause', 'fa-play');
         playIcon.classList.add('fa-play');
       }
     });

      // Update play button icon when audio playback state changes
       
       audioPlayer.addEventListener('play', function() {
       var playIcon = document.getElementById('playIcon');
       if (playIcon) {
         playIcon.classList.remove('fa-play');
         playIcon.classList.add('fa-pause');
       }
     });

     audioPlayer.addEventListener('pause', function() {
       var playIcon = document.getElementById('playIcon');
       if (playIcon) {
         playIcon.classList.remove('fa-pause');
         playIcon.classList.add('fa-play');
       }
     });
{% endjavascript %}

{% style %}


{% endstyle %}


