{% schema %}
{
  "name": "Audio Player",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Audio Player",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if section.settings.selected_product and section.settings.selected_product.metafields.custom.audio %}
  <div class="custom-audio-player">
    <button class="playPauseButton" 
            data-product-id="{{ section.settings.selected_product.id }}" 
            data-audio-url="{{ section.settings.selected_product.metafields.custom.audio.value.url }}">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
{% endif %}
