{% schema %}
{
  "name": "Pay button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

 % if product.tags contains 'audio' %}
  <div class="product-audio-player">	  <div class="custom-audio-player">
    <audio controls>	  <audio id="audioPlayer" controls>
      <source src="{{ product.metafields.product.audio.value.url }}" type="audio/mpeg">	    <source src="{{ card_product.metafields.product.audio.value.url }}" type="audio/mpeg">
      Your browser does not support the audio element.	    Your browser does not support the audio element.
    </audio>	  </audio>
  </div>	  <button id="playPauseButton" class="play">Play</button>
</div>
{% endif %}	{% endif %}


{% javascript %}

{% endjavascript %}

{% style %}


{% endstyle %}


