{% schema %}
{
  "name": "Play button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if product.tags contains 'audio' %}

   <div class="product-audio-player">
     <audio controls>
       <source src="{{ product.metafields.custom.audio.value.url }}" type="audio/mpeg">
       Your browser does not support the audio element.
     </audio>
   </div>
{% endif %}

{% javascript %}

{% endjavascript %}

{% style %}


{% endstyle %}


