{% schema %}
{
  "name": "Pay button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if section.settings.selected_product and section.settings.selected_product.metafields.custom.audio %}
<div class="play-button">
    <button class="playPauseButton" id="productPlayBtn"> 
        <i class="fa-solid fa-play"></i>
    </button>
</div>
<script> const productAudioUrl = "{{ product.metafields.custom.audio.value }}"; </script>
    <script src="Omni-audio-player.js" defer></script>
</body>
{% endif %}


{% javascript %}

{% endjavascript %}

{% style %}


{% endstyle %}


