{% schema %}
{
  "name": "Pay button",
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Play button",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% if section.settings.selected_product and section.settings.selected_product.metafields.custom.audio %}
<div class="play-button">
    <button class="playPauseButton" id="productPlayBtn"> 
        <i class="fa-solid fa-play"></i>
    </button>
    <audio id="audioPlayer" controls style="display: none;">
        <source src="{{ product.metafields.custom.audio.value }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
<script src="Omni-audio-player.js" defer></script>
{% endif %}


{% javascript %}

{% endjavascript %}

{% style %}


{% endstyle %}


