<div class="omni-audio-player">
  <audio id="omniAudioPlayer"loop>
    Your browser does not support the audio element.
  </audio>
  <div id="play-pause-button" class="play-button">
    <i class="fa-solid fa-play"></i>
    <i class="fa-solid fa-pause"></i>
  </div>
</div>


{% schema %}
    {
        "name": "Omni player",
        "settings": []
    }
{% endschema %}

{% style %}
.omni-audio-player {
  position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

#play-pause-button {
  cursor: pointer;
}

#play-pause-button i {
  display: none;
}

#play-pause-button.playing i.fa-pause,
#play-pause-button.paused i.fa-play {
  display: inline-block;
}

{% endstyle %}
