<div class="omni-audio-player">
  <audio id="omniAudioPlayer" controls loop sticky>
    Your browser does not support the audio element.
  </audio>
</div>

{% javascript %}
// JavaScript to handle audio playback
var stickyAudioPlayer = document.getElementById('omniAudioPlayer');

function playAudio(audioUrl) {
  stickyAudioPlayer.src = audioUrl;
  stickyAudioPlayer.play();
}

// Example usage: Assuming you have play buttons with class "play-button" associated with each audio file
var playButtons = document.querySelectorAll('.playPauseButton');
playButtons.forEach(function(button) {
  button.addEventListener('click', function() {
    var audioUrl = this.dataset.audioUrl;
    playAudio(audioUrl);
  });
});
{% endjavascript %}


{% schema %}
    {
        "name": "Omni player",
        "settings": []
    }
{% endschema %}

{% style %}
.omni-audio-player {
  position: fixed; 
    bottom: 0; 
    width: 100%; }
}
{% endstyle %}
